venv/
.venv/
__pycache__/
data/
*.csv
*.ipynb_checkpoints/
wandb

# Editor/IDE
.vscode/
*.code-workspace

# Environment files
.env

# Notebooks
*.ipynb

# Experiment profiles
profiles/

# Git
.git

# OS files
.DS_Store
Thumbs.db