venv/
.venv/
__pycache__/

# Large datasets / outputs
data/
*.csv

# W&B
wandb/

# Jupyter
*.ipynb
*.ipynb_checkpoints/

# Editor/IDE
.vscode/
*.code-workspace

# Environment files
.env

# Experiment profiles
profiles/

# Git
.git/

# OS files
.DS_Store
Thumbs.db

# Models: exclude everything except what the API needs
models/*
!models/best_pm25_model.pkl
!models/*.py