
data/kaggle_csvs/
data/stations_csvs/
data/cities_combined.csv
data/stations_combined.csv
data/raw_combined.csv
venv/

# Model files - exclude these
*.joblib
*.pkl
models/

# Artifacts
artifacts/

# DVC
.dvc/
.dvc/cache/

# Local artifacts
wandb/
__pycache__/