*/data/kaggle_csvs
*/data/stations_csvs
*venv
*rf_reg.joblib

# Large files - use DVC for versioning these
*.joblib
*.pkl
*.csv
data/
models/
artifacts/

# DVC
.dvc/
.dvc/cache/

# Local artifacts
wandb/
__pycache__/